<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <h3>Search by title or author</h3>
    <form action=/searches method="POST">
        <input class="searchBox" type="text" name="searchQuery" placeholder="Search for Title or Author" required>
            <fieldset>
                <h4>Enter a title or author</h4>
                <label for="title">
                <span>Title</span>
                <input type="radio" name="search" value="intitle"/>
                </label>
                <label for="author">
                <span>Author</span>
                <input class="radio" type="radio" name="search" value="inauthor"/>
                </label>
            </fieldset>
        <button class="searchbutton" type="submit">Search for Books</button>
    </form>
</body>
</html>