<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    This new NEW EJS
    <h1>SEARCH</h1>
    <form action=/searches method="POST">
        <input type="text" name="search" placeholder="Search for Title or Author" required>
            <fieldset>
                <h3>SEARCH BY</h3>
                <label for="title">
                <span>Title</span>
                <input type="radio" name="search" value="title"/>
                </label>
                <label for="author">
                <span>Author</span>
                <input type="radio" name="search" value="author"/>
                </label>
            </fieldset>
        <button class="searchbutton" type="submit">Search for Books</button>
    </form>
</body>
</html>