<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <h1>Search Results: </h1>
    <main class="resultsMain">
    <% book.forEach(book => { %>
        <article class="bookRender">
        <img src="<%= book.imageUrl %>" />

        <h4><%= book.title %></h4>

        <h5><%= book.authors_names %></h5>

        <p><%= book.description %></p>
    </article>
</main>
<% }) %>
</body>
</html>