<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="./styles/styles.css">

</head>

<body>
    <h1>Welcome to the Thunderdome</h1>
    <section>
      <h5>Your total collection is: 0 books so far</h5>
    </section>

    <a href="/searches/new"><button>Search for Books</button></a>
</body>
</html>